<!DOCTYPE html>
<html ng-app="NoteWrangler">
    <head>
        <meta charset="utf-8">
        <title>Note Wrangler</title>
        <link rel="stylesheet" href="assets/styles/bootstrap.css" />
        <link rel="stylesheet" href="assets/styles/bootstrap-theme.css" />
    </head>
    <body>
        <h1>Hello World</h1>
        <div ng-view></div>
    </body>

    <!-- vendor -->
    <script src="assets/javascript/vendor/jquery-2.2.1.js"></script>
    <script src="assets/javascript/vendor/angular.js"></script>
    <script src="assets/javascript/vendor/angular-route.js"></script>
    <script src="assets/javascript/vendor/angular-resource.js"></script>

    <!-- App -->
    <scrpt src="assets/javascript/app.js"></script>
    <scrpt src="assets/javascript/routes.js"></script>

    <!-- Directives -->
    <!-- Controller -->
    <!-- Services -->
</html>
